<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PathHub</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/assets/media/image/favicon.png" />

    <!-- Main css -->
    <link rel="stylesheet" href="/static/vendors/bundle.css" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

    <!-- quill -->
    <link href="/static/vendors/quill/quill.snow.css" rel="stylesheet" type="text/css">
    <!-- quill -->
    <link href="/static/vendors/jstree/themes/default/style.min.css" rel="stylesheet" type="text/css">

    <!-- ClockPicker -->
    <link rel="stylesheet" href="/static/vendors/clockpicker/bootstrap-clockpicker.min.css" type="text/css">

    <!-- DatePicker -->
    <link rel="stylesheet" href="/static/vendors/datepicker/daterangepicker.css" type="text/css">

    <!-- DataTable -->
    <link rel="stylesheet" href="/static/vendors/dataTable/datatables.min.css" type="text/css">

    <!-- Select2 -->
    <link rel="stylesheet" href="/static/vendors/select2/css/select2.min.css" type="text/css">

    <!-- DropZone -->
    <link rel="stylesheet" href="/static/vendors/dropzone/dropzone.css" type="text/css">

    <!-- App css -->
    <link rel="stylesheet" href="/static/assets/css/app.min.css" type="text/css">

    <link rel="stylesheet" href="/static/assets/css/custom.css" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-icon"></div>
    </div>
    <!-- ./ Preloader -->

    <!-- Layout wrapper -->
    <div class="layout-wrapper">
        <!-- Header -->
        <div class="header d-print-none">
            <div class="header-container">
                <div class="header-body">
                    <div class="header-body-left">
                        <ul class="navbar-nav">
                            <li class="nav-item navigation-toggler">
                                <a href="#" class="nav-link">
                                    <i class="ti-menu"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <div class="header-search-form">
                                    <form>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="btn">
                                                    <i class="ti-search"></i>
                                                </button>
                                            </div>
                                            <input type="text" id="search-box" class="form-control"
                                                placeholder="Search something...">
                                            <div class="input-group-append">
                                                <button class="btn header-search-close-btn">
                                                    <i data-feather="x"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="header-body-right">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link mobile-header-search-btn" title="Search">
                                    <i class="ti-search"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" title="Dark">
                                    <i class="fa fa-moon-o"></i>
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link  {% if notifications %} nav-link-notify {% endif %}"
                                    title="Notifications" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                                    <div class="bg-primary px-3 py-3">
                                        <h6 class="mb-0">Notifications</h6>
                                    </div>
                                    <div class="dropdown-scroll">
                                        {% if notifications %}
                                        <ul class="list-group list-group-flush">
                                            <li>
                                                <a href="#" class="list-group-item d-flex hide-show-toggler">
                                                    <div>
                                                        <figure class="avatar mr-3">
                                                            <span
                                                                class="avatar-title bg-secondary-bright text-secondary rounded-circle">
                                                                <i class="ti-server"></i>
                                                            </span>
                                                        </figure>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <p class="mb-0">
                                                            Your storage space is running low!
                                                            <i title="Mark as unread" data-toggle="tooltip"
                                                                class="hide-show-toggler-item fa fa-check font-size-11 position-absolute right-0 top-0 mr-3 mt-3"></i>
                                                        </p>
                                                        <span class="text-muted small">4 sec ago</span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        {% endif %}
                                    </div>
                                    <div class="px-3 py-2 text-right border-top">
                                        {% if notifications %}
                                        <ul class="list-inline small">
                                            <li class="list-inline-item mb-0">
                                                <a href="#">Mark All Read</a>
                                            </li>
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link" title="Settings" data-sidebar-target="#settings">
                                    <i class="ti-settings"></i>
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link profile-nav-link dropdown-toggle" title="User menu"
                                    data-toggle="dropdown">
                                    <span class="mr-2 d-sm-inline d-none">{{user.username}}</span>
                                    <figure class="avatar avatar-sm">
                                        <img src="/static/assets/media/image/user/man_avatar3.jpg"
                                            class="rounded-circle" alt="avatar">
                                    </figure>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                                    <div class="text-center py-4"
                                        data-background-image="/static/assets/media/image/image1.jpg">
                                        <figure class="avatar avatar-lg mb-3 border-0">
                                            <img src="/static/assets/media/image/user/man_avatar3.jpg"
                                                class="rounded-circle" alt="image">
                                        </figure>
                                        <h5 class="mb-0">{{user.username}}</h5>
                                    </div>
                                    <div class="list-group list-group-flush">
                                        <a href="#" class="list-group-item" data-sidebar-target="#settings">Settings</a>
                                        <a href="/auth/logout" class="list-group-item text-danger">Sign Out!</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item header-toggler">
                        <a href="#" class="nav-link">
                            <i class="ti-arrow-down"></i>
                        </a>
                    </li>
                    <li class="nav-item sidebar-toggler">
                        <a href="#" class="nav-link">
                            <i class="ti-cloud"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ./ Header -->

        <!-- Content wrapper -->
        <div class="content-wrapper">
            <!-- begin::navigation -->
            <div class="navigation">
                <div class="logo">
                    <a href=index.html>
                        <img src="/static/images/logo.png" alt="logo" class="company-logo">
                    </a>
                </div>
                <ul>
                    <li>
                        <a href="#">
                            <i class="nav-link-icon ti-pie-chart"></i>
                            <span class="nav-link-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="active" href="/">
                            <i class="nav-link-icon ti-file"></i>
                            <span class="nav-link-label">Files</span>
                        </a>
                    </li>

                   
                    <li class="flex-grow-1">
                        <a href="{% url 'my_folders' %}">
                            <i class="nav-link-icon ti-files"></i>
                            <span class="nav-link-label">My folders</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="nav-link-icon ti-settings"></i>
                            <span class="nav-link-label">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- end::navigation -->

            <!-- Content body -->
            <div class="content-body">
                <!-- Content -->
                <div class="content">
                    <div class="page-header d-flex justify-content-between">
                        <h2>Files</h2>
                        <a href="#" class="files-toggler">
                            <i class="ti-menu"></i>
                        </a>
                        <div id="alert-message" class="alert alert-info" style="width: 75%; display: none;"
                            role="alert">Some message</div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 files-sidebar">
                            <div class="card border-0">
                                <h6 class="card-title">My Folders</h6>
                                <div id="files" class="files"></div>
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="content-title mt-0">
                                <h4 id="folder-heading">Slides</h4>
                            </div>
                            <div class="d-md-flex justify-content-between mb-4">
                                <ul class="list-inline mb-3">
                                    <li class="list-inline-item mb-0">
                                        <a href="#" class="btn btn-outline-light dropdown-toggle"
                                            data-toggle="dropdown">
                                            Add
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#new-folder-modal"
                                                href="#">New Folder</a>
                                            <a class="dropdown-item newfile-button" style="display: none;" data-backdrop="static"  data-keyboard="false" data-toggle="modal"  data-target="#newfile-modal" href="#">New File</a>
                                        </div>
                                    </li>
                                    <li class="list-inline-item mb-0">
                                        <a href="#" class="btn btn-outline-light dropdown-toggle"
                                            data-toggle="dropdown">
                                            Tags
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Public</a>
                                            <a class="dropdown-item" href="#">Project</a>
                                            <a class="dropdown-item" href="#">Software</a>
                                            <a class="dropdown-item" href="#">Social Media</a>
                                            <a class="dropdown-item" href="#">Design</a>
                                        </div>
                                    </li>
                                    <li class="list-inline-item mb-0">
                                        <a href="#" class="btn btn-outline-light dropdown-toggle"
                                            data-toggle="dropdown">
                                            Sort
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Ascending</a>
                                            <a class="dropdown-item" href="#">Descending</a>
                                        </div>
                                    </li>
                                    
                                    <li class="list-inline-item mb-0" id="paste-button-container" style="display: none;">
                                        <a href="#" class="btn btn-outline-light" id="paste-button">
                                            Paste
                                        </a>
                                    </li>
                                    
                                </ul>
                                <div id="file-actions" class="d-none">
                                    <ul class="list-inline">
                                        <li class="list-inline-item mb-0">
                                            <a href="#" class="btn btn-outline-light" data-toggle="tooltip"
                                                title="Move">
                                                <i class="ti-arrow-top-right"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item mb-0">
                                            <a href="#" class="btn btn-outline-light" data-toggle="tooltip"
                                                title="Download">
                                                <i class="ti-download"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item mb-0">
                                            <a href="#" class="btn btn-outline-danger" data-toggle="tooltip"
                                                title="Delete">
                                                <i class="ti-trash"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="table-files" class="table table-borderless table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="files-select-all">
                                                    <label class="custom-control-label" for="files-select-all"></label>
                                                </div>
                                            </th>
                                            <th>Name</th>
                                            <th>Created</th>
                                            <th>Label</th>
                                            <th>Cached</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="new-folder-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="new-folder-modalTitle">New Folder</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="ti-close"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="folder-name-input">Folder Name</label>
                                        <input type="text" class="form-control" id="folder-name-input"
                                            placeholder="Folder">
                                    </div>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="newfolder-add-button">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="modal fade" id="editfolder-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editfolder-modalTitle">Rename</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="ti-close"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation" novalidate id="editfolder-form">
                                    <div class="form-group">
                                        <label for="edit-folder-name-input">Folder Name</label>
                                        <input type="text" class="form-control" id="edit-folder-name-input"
                                            placeholder="Folder">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="editfolder-add-button">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="copy-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="copy-modalTitle">Filename</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="ti-close"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation" novalidate id="copy-form">
                                    <div class="form-group">
                                        <label for="copy-name-input">Name</label>
                                        <input type="text" class="form-control" id="copy-name-input"
                                            placeholder="Folder">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="copy-add-button">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="delete-modalTitle">Permanently delete?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="ti-close"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation" novalidate id="delete-form">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger" id="delete-file-button">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="newfile-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="newfile-modalTitle">New File</h5>
                                <button type="button" class="close newfile-modal-close-button" data-dismiss="modal" aria-label="Close">
                                    <i class="ti-close"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation" id="newfile-form" novalidate enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="slidename-input">Slide Name</label>
                                        <input type="text" class="form-control is-invalid" id="slidename-input"
                                            placeholder="Slide Name" name="slidename" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="scannedby-input">Scanned By</label>
                                            <input name="scanned_by" type="text" class="form-control" id="scannedby-input"
                                                placeholder="Scanned By">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="scanneddate-input">Scanned Date</label>
                                            <input autocomplete="off" type="text" name="scanned_date" class="form-control datepicker-input" id="scanneddate-input"
                                                placeholder="Scanned Date">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="insertedby-input">Inserted By</label>
                                            <input name="inserted_by" type="text" class="form-control" id="insertedby-input"
                                                placeholder="Inserted By">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inserteddate-input">Inserted Date</label>
                                            <input autocomplete="off" name="inserted_date" type="text" class="form-control datepicker-input" id="inserteddate-input"
                                                placeholder="Inserted Date">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="slidetype-input">Slide Type</label>
                                        <select name="slide_type" class="form-control" id="slidetype-input" required>
                                            <option value="">...</option>
                                            <option value="1">DICOM</option>
                                            <option value="2">OpenSlide</option>
                                        </select>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input name="annotations" type="checkbox" class="custom-control-input" id="annotations-input" checked>
                                            <label class="custom-control-label" for="annotations-input">Annotations</label>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="slide-input">Upload Slide</label>
                                            <input name="slide_upload" type="file" class="form-control-file" id="slide-input">
                                            <div class="invalid-feedback">
                                                
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="customlabel-input">Upload Custom Label</label>
                                            <input name="label_upload" type="file" class="form-control-file" id="customlabel-input">
                                        </div>
                                        
                                    </div>

                                    <div class="progress" id="newfile-upload-progress" style="display: none;">
                                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                    </div>
                                    <div class="text-right" id="newfile-upload-label" style="display: none;">24MB / 30MB</div>

                                    <p>Uploading To<br> <span id="parent-folder-reference"
                                            style="font-style: italic">Parent &#129042; Child &#129042; Child</span></p>
                                    
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary" id="newfile-add-button">Add</button>
                                        <button type="button" style="display: none;" class="btn btn-danger" id="newfile-cancel-button">Cancel</button>
                                        <button type="button" class="btn btn-secondary newfile-modal-close-button" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="editfile-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editfile-modalTitle">Edit File</h5>
                                <button type="button" class="close editfile-modal-close-button" data-dismiss="modal" aria-label="Close">
                                    <i class="ti-close"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation" id="editfile-form" novalidate>
                                    <div class="form-group">
                                        <label for="edit-slidename-input">Slide Name</label>
                                        <input type="text" class="form-control" id="edit-slidename-input"
                                            placeholder="Slide Name" name="slidename" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="edit-scannedby-input">Scanned By</label>
                                            <input name="scanned_by" type="text" class="form-control" id="edit-scannedby-input"
                                                placeholder="Scanned By">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="edit-scanneddate-input">Scanned Date</label>
                                            <input autocomplete="off" type="text" name="scanned_date" class="form-control datepicker-input" id="edit-scanneddate-input"
                                                placeholder="Scanned Date">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="edit-insertedby-input">Inserted By</label>
                                            <input name="inserted_by" type="text" class="form-control" id="edit-insertedby-input"
                                                placeholder="Inserted By">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="edit-inserteddate-input">Inserted Date</label>
                                            <input autocomplete="off" name="inserted_date" type="text" class="form-control datepicker-input" id="edit-inserteddate-input"
                                                placeholder="Inserted Date">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="edit-slidetype-input">Slide Type</label>
                                        <select name="slide_type" class="form-control" id="edit-slidetype-input" required>
                                            <option value="">...</option>
                                            <option value="1">DICOM</option>
                                            <option value="2">OpenSlide</option>
                                        </select>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input name="annotations" type="checkbox" class="custom-control-input" id="edit-annotations-input" checked>
                                            <label class="custom-control-label" for="edit-annotations-input">Annotations</label>
                                        </div>
                                    </div>
                                    
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary" id="editfile-add-button">Save</button>
                                        <button type="button" class="btn btn-secondary editfile-modal-close-button" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ./ Content -->

            </div>
            <!-- ./ Content body -->

            <!-- Sidebar group -->
            <div class="sidebar-group d-print-none">
                <!-- Sidebar - Storage -->
                <div class="sidebar primary-sidebar show" id="storage">
                    <div class="sidebar-header">
                        <h4>Storage Overview</h4>
                    </div>
                    <div class="sidebar-content">
                        <div id="justgage_five" class="mb-3"></div>
                        <p id="storage-error-message" style="display: none;">Something went wrong while retrieving data
                        </p>
                        <div>
                            <div class="list-group list-group-flush mb-3" id="storage-overview-container">
                                <template id="storage-overview-template">
                                    <a href="#" class="list-group-item px-0 d-flex align-items-center">
                                        <div class="mr-3">
                                            <figure class="avatar">
                                                <span class="avatar-title bg-primary-bright text-primary rounded">
                                                    <i class="ti-files"></i>
                                                </span>
                                            </figure>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="mb-0 folder-name">NAME</p>
                                            <span class="small text-muted folder-files">259 Files</span>
                                        </div>
                                        <div>
                                            <h5 class="text-primary folder-size"></h5>
                                        </div>
                                    </a>
                                </template>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-footer">
                        <button class="btn btn-lg btn-block btn-outline-primary newfile-button" style="display: none;"  data-toggle="modal" data-backdrop="static"  data-keyboard="false" data-target="#newfile-modal">
                            <i class="fa fa-cloud-upload mr-3"></i> Upload
                        </button>
                    </div>
                </div>
                <!-- ./ Sidebar - Storage -->

                

                <!-- Button trigger modal -->
                <button type="button" id='modal_call' class="btn btn-primary d-none" data-toggle="modal" data-target="#FolderModal">
                    Launch demo modal
                </button>
                    <!-- Modal -->
                    <div class="modal fade" id="FolderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Choose Edit or Delete</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                
                                    <!-- <button type="button" id="close_modal" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                                    <button type="button" id="folder_edit" class="btn btn-primary">Edit Folder Name</button>
                                    <button type="button" id="folder_delete" class="btn btn-danger">Delete Folder</button>
                                
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="close_modal" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <!-- <button type="button" id="folder_edit" class="btn btn-primary">Edit Folder Name</button>
                                    <button type="button" id="folder_delete" class="btn btn-danger">Delete Folder</button> -->
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- Sidebar - File info -->
                <div class="sidebar" id="view-detail">
                    <div class="sidebar-header">
                        <h4>View Detail</h4>
                        <a href="#" class="btn btn-light btn-floating sidebar-close-btn">
                            <i class="ti-angle-right"></i>
                        </a>
                    </div>
                    <div class="sidebar-content">
                        <figure class="avatar mb-4">
                            <span class="avatar-title bg-info-bright text-info rounded-pill">
                                <i class="ti-file"></i>
                            </span>
                        </figure>
                        <div class="row mb-3">
                            <div class="col-md-5">File name:</div>
                            <div class="col-md-7"><a href="#" class="link-1">Meeting-notes.doc</a></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5">File type:</div>
                            <div class="col-md-7">Word File</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5">File size:</div>
                            <div class="col-md-7">22 KB</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5">Created:</div>
                            <div class="col-md-7">Monday, July 02, 2020 9:34am</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5">Modified:</div>
                            <div class="col-md-7 text-success">Monday, July 02, 2020 9:34am</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5">Accessed:</div>
                            <div class="col-md-7">Monday, July 03, 2020 10:22am</div>
                        </div>
                    </div>
                    <div class="sidebar-footer">
                        <button class="btn btn-lg btn-block btn-primary">
                            <i class="ti-share mr-3"></i> Share
                        </button>
                    </div>
                </div>
                <!-- ./ Sidebar - file info -->

                <!-- Sidebar - Settings -->
                <div class="sidebar" id="settings">
                    <div class="sidebar-header">
                        <h4>Settings</h4>
                        <a href="#" class="btn btn-light btn-floating sidebar-close-btn">
                            <i class="ti-angle-right"></i>
                        </a>
                    </div>
                    <div class="sidebar-content">
                        {% if allow_settings %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item pl-0 pr-0">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                                    <label class="custom-control-label" for="customSwitch1">Allow notifications.</label>
                                </div>
                            </li>
                            <li class="list-group-item pl-0 pr-0">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                    <label class="custom-control-label" for="customSwitch2">Hide user requests</label>
                                </div>
                            </li>
                            <li class="list-group-item pl-0 pr-0">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch3" checked>
                                    <label class="custom-control-label" for="customSwitch3">Speed up demands</label>
                                </div>
                            </li>
                            <li class="list-group-item pl-0 pr-0">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch4" checked>
                                    <label class="custom-control-label" for="customSwitch4">Hide menus</label>
                                </div>
                            </li>
                            <li class="list-group-item pl-0 pr-0">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch5">
                                    <label class="custom-control-label" for="customSwitch5">Remember next visits</label>
                                </div>
                            </li>
                            <li class="list-group-item pl-0 pr-0">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch6">
                                    <label class="custom-control-label" for="customSwitch6">Enable report
                                        generation.</label>
                                </div>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <!-- ./ Sidebar - Settings -->
            </div>
            <!-- ./ Sidebar group -->
        </div>
        <!-- ./ Content wrapper -->
    </div>
    <!-- ./ Layout wrapper -->

    <!-- Main scripts -->
    <script src="/static/vendors/bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.2.9/justgage.min.js"></script>

    <!-- DataTable -->
    <script src="/static/vendors/dataTable/datatables.min.js"></script>

    <!-- JsTree -->
    <script src="/static/vendors/jstree/jstree.min.js"></script>

    <!-- DateRangePicker -->
    <script src="/static/vendors/datepicker/daterangepicker.js"></script>

    <!-- Files page examples -->
    <script src="/static/assets/js/examples/files.js"></script>

    <!-- App scripts -->
    <script src="/static/assets/js/app.min.js"></script>

    {% if javascripts %}
    
    {% for js in javascripts %}
    
    <script src="/static/assets/js/{{js}}"></script>
    {% endfor %}
    {% endif %}
    <script>

        //   $("#files").on('select_node.jstree', function(e, data) {
        $("#files").on('dblclick.jstree', function(e) {

            // let folder_id = e.target.id.slice(4,5);
            let folder_id = e.target.id.split('_')[1];
            
            $('#folder_edit').val(folder_id);
            $('#folder_delete').val(folder_id);
            $("button#modal_call").trigger("click");

          });

        
        $('#folder_delete').on('click', function(){

            
            let folder_id = $(this).val();
            let delete_folder_confirm = confirm('Confirm Delete Folder');

            if(delete_folder_confirm)
            {
                    

                    $.get('/api/folder/delete?folder_id='+(folder_id === null ? 0: folder_id), function(data) {

                        if(data.type == 'success')
                        {
                            window.location.reload();
                        }

                        else
                        {
                            alert(data.message);
                            $("button#close_modal").trigger("click");
                           
                            
                        }

                    })
                    
                    
            }

            
            

        });
        
        $('#folder_edit').on('click', function(){

            // $('modal').modal('toggle');
            


            let folder_id = $(this).val();
            // console.log(id);

            let new_name = prompt('Type New Folder Name Here');
            let name_confirm = confirm('Press Confirm or Cancel');

              
              
              if(new_name !== null && new_name !== '')
              {
                if(name_confirm)
                {
                    let data = {
                        folder_id : folder_id,
                        folder_name  : new_name
                    };
                    $.ajax({
                        url    : '/api/folder/edit',
                        method : 'POST',
                        data   : data,
                        success:function(data){
                            if(data.type=='success')
                            {
                                window.location.reload();
                            }

                            else{
                                alert('Something Went wrong in Renaming Folder');
                                // $('.modal').modal().hide();
                            }
                            
                        }

                    })
                    
                }
              }

        });  
        
        //   $("#files").on('dblclick.jstree', function(e) {

              
           
        //       let folder_id = e.target.id.slice(4,5)
        //     //   console.log(folder_id);
        //       let new_name = prompt('Type New Folder Name Here');
        //       let name_confirm = confirm('Press Confirm or Cancel');

              
              
        //       if(new_name !== null && new_name !== '')
        //       {
        //         if(name_confirm)
        //         {
        //             let data = {
        //                 folder_id : folder_id,
        //                 folder_name  : new_name
        //             };
        //             $.ajax({
        //                 url    : '/api/folder/edit',
        //                 method : 'POST',
        //                 data   : data,
        //                 success:function(data){
        //                     if(data.type=='success')
        //                     {
        //                         window.location.reload();
        //                     }

        //                     else{
        //                         alert('Something Went wrong in Renaming Folder');
        //                     }
                            
        //                 }

        //             })
                    
        //         }
        //       }

             
            
        //   })
    </script>
</body>

</html>