<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PathHub</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/assets/media/image/favicon.png" />

    <!-- Main css -->
    <link rel="stylesheet" href="/static/vendors/bundle.css" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

    <!-- quill -->
    <link href="/static/vendors/quill/quill.snow.css" rel="stylesheet" type="text/css">
    <!-- quill -->
    <link href="/static/vendors/jstree/themes/default/style.min.css" rel="stylesheet" type="text/css">

    <!-- ClockPicker -->
    <link rel="stylesheet" href="/static/vendors/clockpicker/bootstrap-clockpicker.min.css" type="text/css">

    <!-- DatePicker -->
    <link rel="stylesheet" href="/static/vendors/datepicker/daterangepicker.css" type="text/css">

    <!-- DataTable -->
    <link rel="stylesheet" href="/static/vendors/dataTable/datatables.min.css" type="text/css">

    <!-- Select2 -->
    <link rel="stylesheet" href="/static/vendors/select2/css/select2.min.css" type="text/css">

    <!-- DropZone -->
    <link rel="stylesheet" href="/static/vendors/dropzone/dropzone.css" type="text/css">

    <!-- App css -->
    <link rel="stylesheet" href="/static/assets/css/app.min.css" type="text/css">

    <link rel="stylesheet" href="/static/assets/css/custom.css" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-icon"></div>
    </div>
    <!-- ./ Preloader -->

    <!-- Layout wrapper -->
    <div class="layout-wrapper">
        <!-- Header -->
        <div class="header d-print-none header-full-width">
            <div class="header-container">
                <div class="header-body">
                    <div class="header-body-left">
                        <ul class="navbar-nav">
                            <li class="nav-item navigation-toggler">
                                <a href="#" class="nav-link">
                                    <i class="ti-menu"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <div class="header-search-form">
                                    <form>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="btn">
                                                    <i class="ti-search"></i>
                                                </button>
                                            </div>
                                            <input type="text" id="search-box" class="form-control"
                                                placeholder="Search Folder">
                                            <div class="input-group-append">
                                                <button class="btn header-search-close-btn">
                                                    <i data-feather="x"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="header-body-right">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link mobile-header-search-btn" title="Search">
                                    <i class="ti-search"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" title="Dark">
                                    <i class="fa fa-moon-o"></i>
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link  {% if notifications %} nav-link-notify {% endif %}"
                                    title="Notifications" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                                    <div class="bg-primary px-3 py-3">
                                        <h6 class="mb-0">Notifications</h6>
                                    </div>
                                    <div class="dropdown-scroll">
                                        {% if notifications %}
                                        <ul class="list-group list-group-flush">
                                            <li>
                                                <a href="#" class="list-group-item d-flex hide-show-toggler">
                                                    <div>
                                                        <figure class="avatar mr-3">
                                                            <span
                                                                class="avatar-title bg-secondary-bright text-secondary rounded-circle">
                                                                <i class="ti-server"></i>
                                                            </span>
                                                        </figure>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <p class="mb-0">
                                                            Your storage space is running low!
                                                            <i title="Mark as unread" data-toggle="tooltip"
                                                                class="hide-show-toggler-item fa fa-check font-size-11 position-absolute right-0 top-0 mr-3 mt-3"></i>
                                                        </p>
                                                        <span class="text-muted small">4 sec ago</span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        {% endif %}
                                    </div>
                                    <div class="px-3 py-2 text-right border-top">
                                        {% if notifications %}
                                        <ul class="list-inline small">
                                            <li class="list-inline-item mb-0">
                                                <a href="#">Mark All Read</a>
                                            </li>
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link" title="Settings" data-sidebar-target="#settings">
                                    <i class="ti-settings"></i>
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link profile-nav-link dropdown-toggle" title="User menu"
                                    data-toggle="dropdown">
                                    <span class="mr-2 d-sm-inline d-none">{{user.username}}</span>
                                    <figure class="avatar avatar-sm">
                                        <img src="/static/assets/media/image/user/man_avatar3.jpg"
                                            class="rounded-circle" alt="avatar">
                                    </figure>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                                    <div class="text-center py-4"
                                        data-background-image="/static/assets/media/image/image1.jpg">
                                        <figure class="avatar avatar-lg mb-3 border-0">
                                            <img src="/static/assets/media/image/user/man_avatar3.jpg"
                                                class="rounded-circle" alt="image">
                                        </figure>
                                        <h5 class="mb-0">{{user.username}}</h5>
                                    </div>
                                    <div class="list-group list-group-flush">
                                        <a href="#" class="list-group-item" data-sidebar-target="#settings">Settings</a>
                                        <a href="/auth/logout" class="list-group-item text-danger">Sign Out!</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item header-toggler">
                        <a href="#" class="nav-link">
                            <i class="ti-arrow-down"></i>
                        </a>
                    </li>
                    <li class="nav-item sidebar-toggler">
                        <a href="#" class="nav-link">
                            <i class="ti-cloud"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ./ Header -->

        <!-- Content wrapper -->
        <div class="content-wrapper">
            <!-- begin::navigation -->
            <div class="navigation">
                <div class="logo">
                    <a href=index.html>
                        <img src="/static/images/logo.png" alt="logo" class="company-logo">
                    </a>
                </div>
                <ul>
                    <li>
                        <a href="#">
                            <i class="nav-link-icon ti-pie-chart"></i>
                            <span class="nav-link-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/">
                            <i class="nav-link-icon ti-file"></i>
                            <span class="nav-link-label">Files</span>
                        </a>
                    </li>

                   
                    <li class="flex-grow-1">
                        <a class="active" href="{% url 'my_folders' %}">
                            <i class="nav-link-icon ti-files"></i>
                            <span class="nav-link-label">My folders</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="nav-link-icon ti-settings"></i>
                            <span class="nav-link-label">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- end::navigation -->

            <!-- Content body -->
            <div class="content-body">
                <!-- Content -->
                <div class="content full-width">
                    <div class="page-header d-flex justify-content-between">
                        <h2>Folders</h2>
                        <a href="#" class="files-toggler">
                            <i class="ti-menu"></i>
                        </a>
                        <div id="alert-message" class="alert alert-info" style="width: 75%; display: none;"
                            role="alert">Some message
                        </div>
                    </div>

                    <div class="content-title mt-0">
                        <h4 id="folder-heading">Folder Lists</h4>
                    </div>
                    <div>
                        <button type="button" id="delete_multiple_folders" class="btn btn-danger btn-lg" style="display: none;">Delete Selected Folders</button>
                    
                    </div>
                    <div>
                        <button type="button" id="addFolder" class="btn btn-primary btn-lg" style="display: block;">Add Folder</button>
                    
                    </div>

                    <div>
                        <form id="entries-form" action="" method="post">{% csrf_token %} 
                            <label>Show Entries</label>
                            <input type="hidden" value="1" id="pageNum" name="pageNum">
                            <select id="totalEntries" name="totalEntries">
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                            </select>
                        </form>
                    
                    </div>

                    <div class="table-responsive">
                        <table id="table-files" class="table table-borderless table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>S No.</th>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Created</th>
                                    <th>Modified</th>
                                    <th>Parent Id</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody style="display: none;">
                                <tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">No data available in table</td></tr>
                            </tbody>
                            <tbody id="folderTable">
                                {% for folder in folders %}
                                    <tr>
                                        <td><input class="folder_checkbox" type="checkbox" value="{{folder.id}}/{{folder.Name}}"></td>
                                        <!-- <td class="dt-body-center"><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" ><label class="custom-control-label"></label></div></td> -->
                                        <td>{{forloop.counter|add:start}}</td>
                                        <td>{{folder.id}}</td>
                                        <td>{{folder.Name}}</td>
                                        <td>{{folder.Created}}</td>
                                        <td>{{folder.Modified}}</td>
                                        <td>{{folder.Parent_id}}</td>
                                        <td>
                                            <button type="button" value="{{folder.id}}/{{folder.Name}}/{{folder.Created}}/{{folder.Modified}}/{{folder.Parent_id}}" class="btn btn-primary mr-2 folder_edit"><i class="nav-link-icon ti-pencil"></i></button>
                                        </td>
                                        <td>
                                            <button type="button" value="{{folder.id}}/{{folder.Name}}" class="btn btn-danger folder_delete"><i class="nav-link-icon ti-trash"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>


                </div>

                <div class="modal fade" id="new-folder-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="new-folder-modalTitle">New Folder</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="ti-close"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="folder-name-input">Folder Name</label>
                                        <input type="text" class="form-control" id="folder-name-input"
                                            placeholder="Folder">
                                    </div>
                                    <div>
                                        <label for="folder-name-input">Parent Folder</label>
                                        <select id="parentIdAddFolder">
                                            <option value="0">None</option>
                                            {% for folder in totalFolders %}
                                                <option value="{{folder.id}}">{{folder.Name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="newfolder-add-button">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="modal fade" id="editfolder-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editfolder-modalTitle">Rename</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="ti-close"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation" novalidate id="editfolder-form">
                                    <div class="form-group">
                                        <label for="edit-folder-name-input">Folder Name</label>
                                        <input type="text" class="form-control" id="edit-folder-name-input"
                                            placeholder="Folder">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="editfolder-add-button">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="copy-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="copy-modalTitle">Filename</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="ti-close"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation" novalidate id="copy-form">
                                    <div class="form-group">
                                        <label for="copy-name-input">Name</label>
                                        <input type="text" class="form-control" id="copy-name-input"
                                            placeholder="Folder">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="copy-add-button">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="delete-modalTitle">Permanently delete?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="ti-close"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation" novalidate id="delete-form">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger" id="delete-file-button">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="newfile-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="newfile-modalTitle">New File</h5>
                                <button type="button" class="close newfile-modal-close-button" data-dismiss="modal" aria-label="Close">
                                    <i class="ti-close"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation" id="newfile-form" novalidate enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="slidename-input">Slide Name</label>
                                        <input type="text" class="form-control is-invalid" id="slidename-input"
                                            placeholder="Slide Name" name="slidename" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="scannedby-input">Scanned By</label>
                                            <input name="scanned_by" type="text" class="form-control" id="scannedby-input"
                                                placeholder="Scanned By">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="scanneddate-input">Scanned Date</label>
                                            <input autocomplete="off" type="text" name="scanned_date" class="form-control datepicker-input" id="scanneddate-input"
                                                placeholder="Scanned Date">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="insertedby-input">Inserted By</label>
                                            <input name="inserted_by" type="text" class="form-control" id="insertedby-input"
                                                placeholder="Inserted By">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inserteddate-input">Inserted Date</label>
                                            <input autocomplete="off" name="inserted_date" type="text" class="form-control datepicker-input" id="inserteddate-input"
                                                placeholder="Inserted Date">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="slidetype-input">Slide Type</label>
                                        <select name="slide_type" class="form-control" id="slidetype-input" required>
                                            <option value="">...</option>
                                            <option value="1">DICOM</option>
                                            <option value="2">OpenSlide</option>
                                        </select>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input name="annotations" type="checkbox" class="custom-control-input" id="annotations-input" checked>
                                            <label class="custom-control-label" for="annotations-input">Annotations</label>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="slide-input">Upload Slide</label>
                                            <input name="slide_upload" type="file" class="form-control-file" id="slide-input">
                                            <div class="invalid-feedback">
                                                
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="customlabel-input">Upload Custom Label</label>
                                            <input name="label_upload" type="file" class="form-control-file" id="customlabel-input">
                                        </div>
                                        
                                    </div>

                                    <div class="progress" id="newfile-upload-progress" style="display: none;">
                                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                    </div>
                                    <div class="text-right" id="newfile-upload-label" style="display: none;">24MB / 30MB</div>

                                    <p>Uploading To<br> <span id="parent-folder-reference"
                                            style="font-style: italic">Parent &#129042; Child &#129042; Child</span></p>
                                    
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary" id="newfile-add-button">Add</button>
                                        <button type="button" style="display: none;" class="btn btn-danger" id="newfile-cancel-button">Cancel</button>
                                        <button type="button" class="btn btn-secondary newfile-modal-close-button" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="editfile-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editfile-modalTitle">Edit File</h5>
                                <button type="button" class="close editfile-modal-close-button" data-dismiss="modal" aria-label="Close">
                                    <i class="ti-close"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation" id="editfile-form" novalidate>
                                    <div class="form-group">
                                        <label for="edit-slidename-input">Slide Name</label>
                                        <input type="text" class="form-control" id="edit-slidename-input"
                                            placeholder="Slide Name" name="slidename" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="edit-scannedby-input">Scanned By</label>
                                            <input name="scanned_by" type="text" class="form-control" id="edit-scannedby-input"
                                                placeholder="Scanned By">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="edit-scanneddate-input">Scanned Date</label>
                                            <input autocomplete="off" type="text" name="scanned_date" class="form-control datepicker-input" id="edit-scanneddate-input"
                                                placeholder="Scanned Date">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="edit-insertedby-input">Inserted By</label>
                                            <input name="inserted_by" type="text" class="form-control" id="edit-insertedby-input"
                                                placeholder="Inserted By">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="edit-inserteddate-input">Inserted Date</label>
                                            <input autocomplete="off" name="inserted_date" type="text" class="form-control datepicker-input" id="edit-inserteddate-input"
                                                placeholder="Inserted Date">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="edit-slidetype-input">Slide Type</label>
                                        <select name="slide_type" class="form-control" id="edit-slidetype-input" required>
                                            <option value="">...</option>
                                            <option value="1">DICOM</option>
                                            <option value="2">OpenSlide</option>
                                        </select>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input name="annotations" type="checkbox" class="custom-control-input" id="edit-annotations-input" checked>
                                            <label class="custom-control-label" for="edit-annotations-input">Annotations</label>
                                        </div>
                                    </div>
                                    
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary" id="editfile-add-button">Save</button>
                                        <button type="button" class="btn btn-secondary editfile-modal-close-button" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ./ Content -->

            </div>
            <!-- ./ Content body -->

            <!-- Sidebar group -->
            <div class="sidebar-group d-print-none d-none">
                <!-- Sidebar - Storage -->
                
                <!-- ./ Sidebar - Storage -->
                

                <!-- Button trigger modal -->
                <!-- <button type="button" id='modal_call' class="btn btn-primary d-none" data-toggle="modal" data-target="#FolderModal">
                    Launch demo modal
                </button> -->
                    <!-- Modal -->
                    <!-- <div class="modal fade" id="FolderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Choose Edit or Delete</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body"> -->
                                
                                    <!-- <button type="button" id="close_modal" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                                    <!-- <button type="button" id="folder_edit" class="btn btn-primary">Edit Folder Name</button>
                                    <button type="button" id="folder_delete" class="btn btn-danger">Delete Folder</button>
                                
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="close_modal" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                                    <!-- <button type="button" id="folder_edit" class="btn btn-primary">Edit Folder Name</button>
                                    <button type="button" id="folder_delete" class="btn btn-danger">Delete Folder</button> -->
                                <!-- </div>
                            </div>
                        </div>
                    </div> -->

                <!-- Sidebar - File info -->
                <div class="sidebar" id="view-detail">
                    <div class="sidebar-header">
                        <h4>View Detail</h4>
                        <a href="#" class="btn btn-light btn-floating sidebar-close-btn">
                            <i class="ti-angle-right"></i>
                        </a>
                    </div>
                    <div class="sidebar-content">
                        <figure class="avatar mb-4">
                            <span class="avatar-title bg-info-bright text-info rounded-pill">
                                <i class="ti-file"></i>
                            </span>
                        </figure>
                        <div class="row mb-3">
                            <div class="col-md-5">File name:</div>
                            <div class="col-md-7"><a href="#" class="link-1">Meeting-notes.doc</a></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5">File type:</div>
                            <div class="col-md-7">Word File</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5">File size:</div>
                            <div class="col-md-7">22 KB</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5">Created:</div>
                            <div class="col-md-7">Monday, July 02, 2020 9:34am</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5">Modified:</div>
                            <div class="col-md-7 text-success">Monday, July 02, 2020 9:34am</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5">Accessed:</div>
                            <div class="col-md-7">Monday, July 03, 2020 10:22am</div>
                        </div>
                    </div>
                    <div class="sidebar-footer">
                        <button class="btn btn-lg btn-block btn-primary">
                            <i class="ti-share mr-3"></i> Share
                        </button>
                    </div>
                </div>
                <!-- ./ Sidebar - file info -->

                <!-- Sidebar - Settings -->
                <div class="sidebar" id="settings">
                    <div class="sidebar-header">
                        <h4>Settings</h4>
                        <a href="#" class="btn btn-light btn-floating sidebar-close-btn">
                            <i class="ti-angle-right"></i>
                        </a>
                    </div>
                    <div class="sidebar-content">
                        {% if allow_settings %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item pl-0 pr-0">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                                    <label class="custom-control-label" for="customSwitch1">Allow notifications.</label>
                                </div>
                            </li>
                            <li class="list-group-item pl-0 pr-0">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                    <label class="custom-control-label" for="customSwitch2">Hide user requests</label>
                                </div>
                            </li>
                            <li class="list-group-item pl-0 pr-0">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch3" checked>
                                    <label class="custom-control-label" for="customSwitch3">Speed up demands</label>
                                </div>
                            </li>
                            <li class="list-group-item pl-0 pr-0">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch4" checked>
                                    <label class="custom-control-label" for="customSwitch4">Hide menus</label>
                                </div>
                            </li>
                            <li class="list-group-item pl-0 pr-0">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch5">
                                    <label class="custom-control-label" for="customSwitch5">Remember next visits</label>
                                </div>
                            </li>
                            <li class="list-group-item pl-0 pr-0">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch6">
                                    <label class="custom-control-label" for="customSwitch6">Enable report
                                        generation.</label>
                                </div>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <!-- ./ Sidebar - Settings -->
            </div>
            <!-- ./ Sidebar group -->
        </div>
        <!-- ./ Content wrapper -->
    </div>
    <!-- ./ Layout wrapper -->
    <div style="margin-left: 10cm;">
    <nav aria-label="Page navigation example">
        <ul id="pagination" class="pagination">
            
           {% for i in totalPage %}
                {% if pageNum == forloop.counter %}
                <li class="page-item active"><button type="button" value="{{forloop.counter}}" class="page">{{forloop.counter}}</button></li>
                {% else %}
                <li class="page-item"><button type="button" value="{{forloop.counter}}" class="page">{{forloop.counter}}</button></li>
                {% endif %}
            {% endfor %}
          <!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li> -->
         
          <!-- <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
        </ul>
      </nav>
    </div>

    <button type="button" id='multiplefoldermdal_call' class="btn btn-primary d-none" data-toggle="modal" data-target="#deleteSelectedFolder">
        Launch modal
    </button>
    <div class="modal fade" id="deleteSelectedFolder" tabindex="-1" role="dialog" aria-labelledby="deleteSelectedFolderLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteSelectedFolderLabel">Folders Delete Status</h5>
                    <button type="button" class="close delete_close_modal_button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="deletedFoldersList">
                
                    <!-- <button type="button" id="close_modal" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                    <!-- <button type="button" id="folder_edit" class="btn btn-primary">Edit Folder Name</button>
                    <button type="button" id="folder_delete" class="btn btn-danger">Delete Folder</button> -->
                
                </div>
                <div class="modal-footer">
                    <button type="button" id="close_modal" class="btn btn-secondary delete_close_modal_button" data-dismiss="modal">Close</button>
                    <!-- <button type="button" id="folder_edit" class="btn btn-primary">Edit Folder Name</button>
                    <button type="button" id="folder_delete" class="btn btn-danger">Delete Folder</button> -->
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="edit-folder-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="new-folder-modalTitle">Edit Folder</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="ti-close"></i>
                    </button>
                </div>
                <div id="EditedFolderlist" class="modal-body">
                    <div>
                        <lable for="editing_folder">Folder</lable>
                        <input type="text" id="editing_folder">
                    </div>
                    <div>
                        <label for="folder-created">CREATED</label>
                        <input type="text" id="folder-created" disabled>
                        
                    </div>
                    <div>
                        <label for="folder-modified">MODIFIED</label>
                        <input type="text" id="folder-modified" disabled>
                    </div>
                    <div>
                        <label for="folder-parent-id" >PARENT ID</label>
                        <input type="text" id="folder-parent-id" disabled>
                    </div>
                    
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="renameFolder" class="btn btn-primary">Rename Folder</button>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Main scripts -->
    <script src="/static/vendors/bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.2.9/justgage.min.js"></script>

    <!-- DataTable -->
    <script src="/static/vendors/dataTable/datatables.min.js"></script>

    <!-- JsTree -->
    <script src="/static/vendors/jstree/jstree.min.js"></script>

    <!-- DateRangePicker -->
    <script src="/static/vendors/datepicker/daterangepicker.js"></script>

    <!-- Files page examples -->
    <script src="/static/assets/js/examples/files.js"></script>

    <!-- App scripts -->
    <script src="/static/assets/js/app.min.js"></script>

    {% if javascripts %}
    
    {% for js in javascripts %}
    
    <script src="/static/assets/js/{{js}}"></script>
    {% endfor %}
    {% endif %}
    
    <script>
    
    let entries = 0;
    let innerentries = undefined;
    let pageNum = undefined;
    let new_data = undefined;
    let start = undefined;
    let end = undefined;
    let totalEntries = "{{totalEntries}}";
       
    //    console.log(folders);
    $(document).ready(function(){
        
        $('#totalEntries option:contains('+totalEntries+')').prop('selected', true);

    })   
    
    
        $('#addFolder').on('click', function(){
            $("#new-folder-modal").modal('show');
            
        })

        $('#newfolder-add-button').on('click', function(){
            let parent_id = $('#parentIdAddFolder').val();
            let folder_name = $('#folder-name-input').val();
            // $("#new-folder-modal").modal('hide');

            let data = {
                parent_id : parent_id,
                folder_name  : folder_name
                };
                    $.ajax({
                        url    : '/api/folder/new',
                        method : 'POST',
                        data   : data,
                        success:function(data){
                            // console.log(data);
                            if(data.type=='success')
                            {
                                window.location.reload();
                            }

                            else{
                                alert(data.message);
                                
                            }
                            
                        }

                    })
            
            
        })
        

        $('#search-box').on('input', function(){

            let folder_name = $('#search-box').val();

            let data = {
                folder_name : folder_name,
                
                };
                    $.ajax({
                        url    : '/api/folder/search',
                        method : 'POST',
                        data   : data,
                        success:function(data){
                            // console.log(data);
                           
                            if(data.type=='success')
                            {
                                entries = $('#totalEntries').val();
                                pageNum = 1;
                                start   =(pageNum-1)*entries;
                                end     = start + entries;
                                // console.log(entries);
                                new_data = data;
                                renderFolders()
                                // let html = ``;
                                // $.each(data.folders, function(index, value){

                                    
                                //     html += `<tr>
                                //         <td><input class="folder_checkbox" type="checkbox" value="${value.id}/${value.Name}"></td>
                                //         <td>${index+1}</td>
                                //         <td>${value.id}</td>
                                //         <td>${value.Name}</td>
                                //         <td>${value.Created}</td>
                                //         <td>${value.Modified}</td>
                                //         <td>${value.Parent_id}</td>
                                //         <td>
                                //             <button type="button" value="${value.id}/${value.Name}" class="btn btn-primary mr-2 folder_edit"><i class="nav-link-icon ti-pencil"></i></button>
                                //         </td>
                                //         <td>
                                //             <button type="button" value="${value.id}/${value.Name}" class="btn btn-danger folder_delete"><i class="nav-link-icon ti-trash"></i></button>
                                //         </td>
                                //     </tr>`;
                                // })

                                // $('#folderTable').html(html);
                            }

                            else{
                                window.location.reload();
                                
                            }
                            
                        }

                    })
            
        })

        // absolutely fine working delete
        
        $('body').delegate('.folder_delete', 'click', function(){

            let folder_id_name = $(this).val();
            let folder_id      = folder_id_name.split('/')[0]
            let folder_name    = folder_id_name.split('/')[1]

            // let folder_id = $(this).val();
            let delete_folder_confirm = confirm('Confirm Delete Folder');

            if(delete_folder_confirm)
            {
                $.get('/api/folder/delete?folder_id='+(folder_id === null ? 0: folder_id), function(data) {

                    if(data.type == 'success')
                    {
                        $('<p>Folder <span style="color: blue">'+ folder_name +'</span> with Id ' + folder_id + ' <span style="color: green">is deleted successfully</span></p>').appendTo('#deletedFoldersList');
                        // window.location.reload();
                    }

                    else
                    {
                        $('<p>Folder <span style="color: blue">'+ folder_name +'</span> with Id ' + folder_id + ' <span style="color: red">can not be delete because ' + data.message +'</span></p>').appendTo('#deletedFoldersList');
                    }

                    $("button#multiplefoldermdal_call").trigger("click");

                })
            }
            
        });

        $('.delete_close_modal_button').on('click', function(){
            window.location.reload();
        })

        
        $('body').delegate('.folder_edit', 'click', function(){

            let folder_info  = $(this).val();
            let folder_id       = folder_info.split('/')[0]
            let folder_name     = folder_info.split('/')[1]
            let folder_created  = folder_info.split('/')[2]
            let folder_modified = folder_info.split('/')[3]
            let folder_parent   = folder_info.split('/')[4]
            
            $('#editing_folder').val(folder_name);
            $('#folder-created').val(folder_created);
            $('#folder-modified').val(folder_modified);
            $('#folder-parent-id').val(folder_parent);
            $('#renameFolder').val(folder_id);
            $('#edit-folder-modal').modal('show');
             
        })

        $('#renameFolder').on('click', function(){

            let folder_id   = $('#renameFolder').val();
            let folder_name = $('#editing_folder').val();


            let name_confirm = confirm('Press OK To Confirm or Cancel');

            //   console.log(new_name, name_confirm);
              
              if(folder_name !== null && folder_name !== '')
              {
                if(name_confirm)
                {
                    let data = {
                        folder_id : folder_id,
                        folder_name  : folder_name
                    };
                    $.ajax({
                        url    : '/api/folder/edit',
                        method : 'POST',
                        data   : data,
                        success:function(data){
                            // console.log(data);
                            if(data.type=='success')
                            {
                                window.location.reload();
                            }

                            else
                            {
                                $('<p>Folder <span style="color: blue">'+ folder_name +'</span> with Id ' + folder_id + ' <span style="color: red">can not be Edited because ' + data.message +'</span></p>').appendTo('#deletedFoldersList');
                                $("button#multiplefoldermdal_call").trigger("click");
                            }

                    
                            
                        }

                    })
                    
                }
              }
            // console.log(folder_id,folder_name);
        })
        
        // perfectly working folder edit
        // $('body').delegate('.folder_edit', 'click', function(){

        //     let folder_id_name = $(this).val();
        //     $('#edit-folder-modal').modal('show');
        //     let folder_id      = folder_id_name.split('/')[0]
        //     let folder_name    = folder_id_name.split('/')[1]
            

        //     let new_name = prompt('Type New Folder Name Here', folder_name);
            
        //     let name_confirm = confirm('Press Confirm or Cancel');

        //     //   console.log(new_name, name_confirm);
              
        //       if(new_name !== null && new_name !== '')
        //       {
        //         if(name_confirm)
        //         {
        //             let data = {
        //                 folder_id : folder_id,
        //                 folder_name  : new_name
        //             };
        //             $.ajax({
        //                 url    : '/api/folder/edit',
        //                 method : 'POST',
        //                 data   : data,
        //                 success:function(data){
        //                     // console.log(data);
        //                     if(data.type=='success')
        //                     {
        //                         window.location.reload();
        //                     }

        //                     else
        //                     {
        //                         $('<p>Folder <span style="color: blue">'+ folder_name +'</span> with Id ' + folder_id + ' <span style="color: red">can not be Edited because ' + data.message +'</span></p>').appendTo('#deletedFoldersList');
        //                         $("button#multiplefoldermdal_call").trigger("click");
        //                     }

                    
                            
        //                 }

        //             })
                    
        //         }
        //       }

        // });
        
        // edit folder till here 


        let deleted_folder_ids = Array();
        
        $('body').delegate('.folder_checkbox','click', function(data){
            
            if(data.target.checked)
            {
                deleted_folder_ids.push(data.target.value);
                
                if(deleted_folder_ids.length > 0)
                {
                    $('#delete_multiple_folders').show();
                }
                
            }
            
            else
            {
                for( var i = 0; i < deleted_folder_ids.length; i++){ 
    
                    if ( deleted_folder_ids[i] === data.target.value) { 

                        deleted_folder_ids.splice(i, 1); 
                    }
                }

                if(deleted_folder_ids.length <= 0)
                {
                    $('#delete_multiple_folders').hide();
                }
            }
            
        })

        $('body').delegate('#delete_multiple_folders','click', function(){

            // console.log(deleted_folder_ids);

            let delete_folder_confirm = confirm('Confirm Delete selected Folders');

            $.each(deleted_folder_ids, function(index,value){

                let folder_id_name = value;
                let folder_id = folder_id_name.split('/')[0];
                let folder_name = folder_id_name.split('/')[1];

                // console.log('name is ',folder_name,' and id is ',folder_id);


                if(delete_folder_confirm)
                {
                    $.get('/api/folder/delete?folder_id='+(folder_id === null ? 0: folder_id), function(data) {

                            if(data.type == 'success')
                            {
                                // $('<p>Folder '+ folder_name +' with Id ' + folder_id + ' is deleted successfully</p>').appendTo('#deletedFoldersList');
                                $('<p>Folder <span style="color: blue">'+ folder_name +'</span> with Id ' + folder_id + ' <span style="color: green">is deleted successfully</span></p>').appendTo('#deletedFoldersList');
                            }

                            else
                            {
                                $('<p>Folder <span style="color: blue">'+ folder_name +'</span> with Id ' + folder_id + ' <span style="color: red">can not be delete because ' + data.message +'</span></p>').appendTo('#deletedFoldersList');
                            }

                        })

                        $("button#multiplefoldermdal_call").trigger("click");
                }

                // console.log(index, value);
            })
        })
        
        

        $('#totalEntries').on('change', function(){
            // console.log($(this).val());
            if(entries == 0)
            {
                innerentries = $(this).val();
                $('#entries-form').submit();
            }
            else
            {
                entries = $(this).val();
                pageNum = 1;
                start   =(pageNum-1)*entries;
                end     = start + entries;
                renderFolders();
            }
        })

        function renderFolders()
       {
        //    console.log('working');
           counter = 0;
           let html = ``;
           let paginationHtml = ``;
           let page_total = Math.floor(new_data.folders.length/entries)+1;
        //    console.log(page_total);
        //    console.log(new_data.folders,typeof(new_data.folders));
        
            $.each(new_data.folders,function(index, value)
            {
                if(counter>=start && counter<end)
                {
                    
                    html += `<tr>
                        <td><input class="folder_checkbox" type="checkbox" value="${value.id}/${value.Name}"></td>
                        <td>${index+1}</td>
                        <td>${value.id}</td>
                        <td>${value.Name}</td>
                        <td>${value.Created}</td>
                        <td>${value.Modified}</td>
                        <td>${value.Parent_id}</td>
                        <td>
                            <button type="button" value="${value.id}/${value.Name}" class="btn btn-primary mr-2 folder_edit"><i class="nav-link-icon ti-pencil"></i></button>
                        </td>
                        <td>
                            <button type="button" value="${value.id}/${value.Name}" class="btn btn-danger folder_delete"><i class="nav-link-icon ti-trash"></i></button>
                        </td>
                    </tr>`;
                                // })

                                
                    // console.log(value);
                    
                }
                counter+=1;
                if(counter==end)
                {
                    // console.log(counter);
                    return false;
                }
                
            })

            $('#folderTable').html(html);

            for(let i=1; i<=page_total;i++)
            {
                paginationHtml += `<li class="page-item active"><button type="button" value="${i}" class="page">${i}</button></li>
                `;
            }
            
            $('#pagination').html(paginationHtml);
       }

       $('body').delegate('.page','click', function(){

        pageNum = $(this).val();
          
          if(entries==0)
          {
            
            $('#pageNum').val(pageNum);
            
            $('#entries-form').submit();
            
            
          }
          else
          {
            // entries = $(this).val();
            
            start   =(pageNum-1)*entries;
            end     = start + entries;
            renderFolders();
            // console.log('works');
          }
          
          
       })
    </script>
</body>

</html>